body{
    font-size: 18px;
}

.divprincipal{
    background-color: blue;
    padding: 20px;
    height: 50vh;
    width: 50lh;
}

input{
    padding: 5px;
    border-radius: 4px;
}

#resultadosoma{
    padding: 15px;
    text-align: center;
}

#botaosomar{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

#botaosomar:active{
    background-color: green;
}

#botaosomar:hover{
    background-color: blueviolet;
}

.divFlutuante{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1);
}

